[Desktop Entry]
Type=Application
Name=Yazi
Exec=/home/iqrar/dotfiles/.config/yazi/bin/open
Terminal=false
MimeType=inode/directory;
Categories=System;FileTools;FileManager;
