[Desktop Entry]
Type=Application
Name=Yazi
Exec=kitty --class kitty-yazi -e yazi %U
Terminal=false
MimeType=inode/directory;
Categories=System;FileTools;FileManager;
